{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
    <h1>Entreprise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entreprise.id }}</td>
            </tr>
            <tr>
                <th>NomEntreprise</th>
                <td>{{ entreprise.NomEntreprise }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ entreprise.Mail }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entreprise.Adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ entreprise.Ville }}</td>
            </tr>
            <tr>
                <th>SiteWeb</th>
                <td>{{ entreprise.SiteWeb }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_entreprise_index') }}">retour</a>

    <a class="btn btn-primary" href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}">éditer</a>

    {{ include('entreprise/_delete_form.html.twig') }}
{% endblock %}
