{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etude.id }}</td>
            </tr>
            <tr>
                <th>NomEtude</th>
                <td>{{ etude.NomEtude }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('app_etude_index') }}">retour</a>

    <a class="btn btn-primary" href="{{ path('app_etude_edit', {'id': etude.id}) }}">Éditer</a>

    {{ include('etude/_delete_form.html.twig') }}
{% endblock %}
